Babel==2.3.4
pytz==2016.7
recaptcha==1.0rc1
simplejson==3.10.0
Unidecode==0.4.19
xlrd==1.0.0

## Requirements added by 'pip freeze'
chardet==2.3.0
defer==1.0.6
lxml==3.6.4
psutil==3.4.2
py==1.4.31
pygobject==3.20.0
pysqlite==2.7.0
pytest==3.0.3
python-apt==1.1.0b1
python-debian==0.1.27
pyxdg==0.25
six==1.10.0
