.pf-notchedoutline {
  border: 1px solid #dadce0;
  border-radius: 4px;
  margin-top: 2.5ex;
}

.pf-notchedoutline-label {
  background: #fff;
  left: 10px;
  padding: 0 5px;
  position: relative;
  top: -1.5ex;
}

.pf-notchedoutline-content {
  margin-top: -1ex;
  padding: 0 5px 5px;
}
