#repoheader {
  border-bottom: 1px solid #dadce0;
  overflow: auto;
}

#repoheader-backbutton {
  float: left;
  margin: 18px 20px 0 16px;
}

#repoheader-info {
  float: left;
}

#repoheader p {
  margin: 0;
}

#repoheader p.mdc-typography--subtitle1 {
  color: #212121;
  margin: 3px 0 8px;
}

#repoheader p.mdc-typography--subtitle2 {
  color: #757575;
  margin: 0 0 3px;
}
