{# Generic, default home page for a new site.  Fill in content below.       #}

{% extends "ampstatic-base.html.template" %}

{% block content %}
  <h1>Welcome</h1>

  <p>You are now running Person Finder.

  <p>Please see the
  <a href="https://github.com/google/personfinder">project page</a>
  for instructions on administering this site and customizing its appearance.
{% endblock content %}
