.storyboard {
  margin: 2em 0 0;
  color: #777;
}

.storyboard td {
  padding: 0.5em;
  width: 160px;
  text-align: center;
}

.teasers h2 {
  font-size: 16px;
  margin: 1em 0 0.5em;
}

.teasers ul {
  padding: 0;
  margin: 1em 0 1em 2em;
}

.teasers li {
  padding: 0;
  margin: 0;
}

.teasers td {
  padding: 1em;
}

img.inset {
  float: right;
  margin-left: 2em;
}
