body {
  margin: 0;
  padding: 0;
  width: auto;
  max-width: inherit;
}

.header {
  padding: 1em;
  border-bottom: 1px solid #dadada;
  overflow: auto;
}

.header-left {
  float: left;
}

.header-left a {
  text-decoration: none;
}

.storyboard {
  margin: 2em 0 0;
  color: #777;
}

.storyboard td {
  padding: 0.5em;
  width: 160px;
  text-align: center;
}

.teasers h2 {
  font-size: 16px;
  margin: 1em 0 0.5em;
}

.teasers ul {
  padding: 0;
  margin: 1em 0 1em 2em;
}

.teasers li {
  padding: 0;
  margin: 0;
}

.teasers td {
  padding: 1em;
}

.container {
  width: 100%;
  float: right;
  margin: 0 0 0 -205px;
}

.content {
  padding: 2em 1em 3em;
  margin-left: 205px;
  width: 650px;
  border-left: 1px solid #dadada;
}

.sidebar {
  padding: 2em 0 2em 13px;
  width: 190px;
  float: left;
  line-height: 150%;
}

.sidebar a:link, .sidebar a:visited {
  color: #00e;
  text-decoration: none;
}

.sidebar a:active {
  color: #e00;
}

h1 {
  margin-top: 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 25px;
}

h2 {
  margin: 2em 0 1em;
  font-size: 13px;
  font-weight: bold;
}

.section {
  clear: both;
}

img.inset {
  float: right;
  margin-left: 2em;
}

.footer {
  clear: both;
  padding: 1em;
  text-align: center;
  color: #666;
  border-top: 1px solid #dadada;
}

var {
  color: #c00;
}

pre {
  background: #f4f4f4;
  border: 1px solid #dadada;
  margin: 0 2em;
  padding: 1em;
  font-size: 12px; 
}
