{% extends "static-base.html.template" %}
{% load i18n %}

{% block heading %}Welcome{% endblock heading %}

{% block content %}
<p>
Congratulations!  You are now running Person Finder.

<p>
Please see the
<a href="http://code.google.com/p/googlepersonfinder/">project page</a>
for instructions on administering this site and customizing its appearance.
{% endblock content %}
