{% extends "app-base.html.template" %}
{% load i18n %}
{% block content %}
<div>
  {% if user %}
  {{user}} is not admin user.
  <a href="{{logout_url}}">{% trans "Sign out" %}</a>
  {% endif %}
</div>
{% endblock %}
