body {
  margin: 0;
  padding: 0;
  width: auto;
  max-width: inherit;
}

.header {
  padding: 1em;
  border-bottom: 1px solid #dadada;
  overflow: auto;
  width: 855px;
}

.header a {
  text-decoration: none;
}

.container {
  width: 100%;
  float: right;
  margin: 0 0 0 -205px;
}

.content {
  padding: 2em 1em 3em;
  margin-left: 205px;
  width: 650px;
  border-left: 1px solid #dadada;
}

.sidebar {
  padding: 2em 0 2em 13px;
  width: 190px;
  float: left;
  line-height: 150%;
}

.sidebar a:link, .sidebar a:visited {
  color: #00e;
  text-decoration: none;
}

.sidebar a:active {
  color: #e00;
}

h1 {
  margin-top: 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 25px;
}

h2 {
  margin: 2em 0 1em;
  font-size: 13px;
  font-weight: bold;
}

.section {
  clear: both;
}

.disclaimer {
  text-align: center;
}

.footer {
  border-top: 1px solid #dadada;
}

