{% load i18n %}{% autoescape off %}{% comment %}
# i18n: Body text of an e-mail message sent to the e-mail addresses
# i18n: of users who subscribe to email updates about a missing person.
{% endcomment %}{% blocktrans %}
You have subscribed to notes on "{{given_name}} {{family_name}}".

You can view this record at

     {{view_url}}

To unsubscribe, follow this link: {{unsubscribe_link}}
{% endblocktrans %}{% endautoescape %}
