.header {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #dadada;
  overflow: auto;
  width: 100%;
}

.header-left {
  float: left;
}

.header-left a {
  text-decoration: none;
}

.header-right {
  float: right;
}

.storyboard td {
  padding: 0.5em;
  width: 135px;
  text-align: center;
}

.content {
  padding: 2em 1em;
  float: right;
  min-height: 400px;
  width: 575px;
  border-left: 1px solid #dadada;
}

.sidebar {
  padding: 2em 0 0 0;
  line-height: 150%;
  float: left;
  width: 175px;
}

.sidebar a:link, .sidebar a:visited {
  color: #00e;
  text-decoration: none;
}

.sidebar a:active {
  color: #e00;
}

h1 {
  margin-top: 0;
  font-size: 20px;
  font-weight: normal;
}

h2 {
  margin: 2em 0 1em;
  font-size: 13px;
  font-weight: bold;
}

.section {
  clear: both;
}

img.inset {
  float: right;
  margin-left: 2em;
}

.footer {
  clear: both;
  padding: 1em;
  margin: 5em auto 0;
  text-align: center;
  color: #666;
  border-top: 1px solid #dadada;
}

var {
  color: #c00;
}
