body {
  margin: 0;
  width: auto;
  max-width: inherit;
}

.header {
  padding: 1em 0;
  border-bottom: 1px solid #dadada;
  overflow: auto;
  width: 100%;
}

.header-left {
  float: left;
}

.header-left a {
  text-decoration: none;
}

.header-right {
  float: right;
}

.storyboard {
  margin: 3em 0;
}

.storyboard td {
  padding: 0.5em;
  width: 140px;
  text-align: center;
}

.teasers {
  margin: 3em 0 0;
}

.teasers td {
  padding: 1em;
}

.container {
  width: 100%;
  float: right;
  margin: 0 0 0 -190px;
  margin-left: -188px;
}

.content {
  padding: 2em 1em 3em;
  margin-left: 190px;
  width: 600px;
  border-left: 1px solid #dadada;
}

.sidebar {
  padding: 0 13px 0 0;
  margin: 2em 0 2em 0;
  width: 175px;
  float: left;
  line-height: 150%;
}

.sidebar a:link, .sidebar a:visited {
  color: #00e;
  text-decoration: none;
}

.sidebar a:active {
  color: #e00;
}

h1 {
  margin-top: 0;
  font-size: 20px;
  font-weight: normal;
}

h2 {
  margin: 2em 0 1em;
  font-size: 13px;
  font-weight: bold;
}

.section {
  clear: both;
}

img.inset {
  float: right;
  margin-left: 2em;
}

.footer {
  clear: both;
  padding: 1em;
  text-align: center;
  color: #666;
  border-top: 1px solid #dadada;
}

var {
  color: #c00;
}
