.repohome-body {
  padding-top: 100px;
  text-align: center;
}

.repohome-body .endbars-headerline-wrapper {
  margin: 24px 0;
}

.repohome-recordcount {
  color: #757575;
  font-size: 12px;
  margin: 16px 0 0;
}
