{% load i18n %}{% autoescape off %}{% comment %}
# i18n: Body text of an e-mail message sent to the e-mail addresses
# i18n: of the author of a person record when the record is deleted.
{% endcomment %}{% blocktrans %}

Dear {{author_name}},

You just posted a status update on the record of 
"{{first_name}} {{last_name}}".

Please confirm that you want to share this status update publicly by 
following this link within 3 days:

   {{embed_url}}

Note: The status update you posted will not show on the site 
until you click the link above.


{% endblocktrans %}{% endautoescape %}


